// ************************************
// ************************************

$yellow: #fff001;
$pink: #fd1999;
$blue: #00e6fe;
$green: #99fc20;
$purple: #a10eec;

// ************************************
// ************************************

html,
body {
  height: 100%;
  background-image: linear-gradient(
    0deg,
    #f2f2f2 16.67%,
    #d6d6d6 16.67%,
    #d6d6d6 33.33%,
    #ffffff 33.33%,
    #ffffff 50%,
    #f2f2f2 50%,
    #f2f2f2 66.67%,
    #d6d6d6 66.67%,
    #d6d6d6 83.33%,
    #ffffff 83.33%,
    #ffffff 100%
  );
  background-size: 12px 12px;
}

.container {
  min-height: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
  width: 400px;
  position: relative;
  background-color: $yellow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-right: 4px solid $green;
  border-left: 4px solid $green;
}

header {
  top: 0;
  width: 100%;
  min-height: 10vh;
  max-height: 15vh;
  background-color: $pink;
  border-bottom: 4px solid $green;

  h1 {
    margin-top: 2vh;
    font-family: "Press Start 2P", cursive;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .header-online {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    color: black;
    text-align: center;
  }

  .large-number {
    padding-top: 4px;
    font-size: 12px;
    color: $yellow;
  }
}

main {
  height: 75vh;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  overflow: auto;
  padding-bottom: 10px;
  background-image: linear-gradient(
    0deg,
    #f5f5f5 25%,
    #ebebeb 25%,
    #ebebeb 50%,
    #f5f5f5 50%,
    #f5f5f5 75%,
    #ebebeb 75%,
    #ebebeb 100%
  );
  background-size: 4px 4px;

  .message-rows {
    width: 100%;
    max-height: 10vh;
    padding: 0;
    margin: 0;
  }

  .username-col {
    padding: 15px 10px 0 10px;
    text-align: center;
  }

  .message-col {
    padding: 5px 10px 5px 10px;
    text-align: center;
  }

  .message-list {
    overflow: scroll;
    max-height: 80%;
  }

  .username {
    font-family: "Press Start 2P", cursive;
    font-size: 8px;
    text-transform: uppercase;
    overflow-wrap: break-word;
    padding: 0;
    margin: 0;
    color: darkgrey;
  }

  .message {
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
  }

  .username-style {
    font-size: 8px;
    color: darkgrey;
  }

  .system {
    text-align: center;
    font-size: 8px;
    background-color: $yellow;
    color: $purple;
  }
}

.form-group {
  ::placeholder {
    font-size: 10px;
    font-family: "Press Start 2P", cursive;
    text-align: center;
  }

  input.message-box {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    text-transform: uppercase;
  }

  input.name-box {
    font-family: "Press Start 2P", cursive;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
  }

  .change-name {
    padding-top: 4px;
    font-family: "Press Start 2P", cursive;
    font-size: 8px;
    text-align: center;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $pink;
  overflow: hidden;
  padding: 20px 5px 5px 5px;
  border-top: 4px solid $green;
}
